ul {
    display: inline-block;
    vertical-align: top;
    text-decoration: underline;
    font-weight: bold;
    margin: 0px 4vw;
}

ul.list-3 {
    -moz-column-count: 3;
    -moz-column-gap: 25px;
    -webkit-column-count: 3;
    -webkit-column-gap: 25px;
    column-count: 3;
    column-gap: 25px;
}

li {
    /* font-weight: 100; */
    text-decoration: none;
    padding: .25vw;
    list-style-type:none;
}

.test {
    display: block;
    padding: .5vw;
}

.mlr-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mlr-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.violet {
    color: violet;
}

.purple {
    color: purple;
}

.in-bl {
    display: inline-block;
}

.no-margin {
    margin: 0px;
}

.text-center {
    text-align: center;
}